.navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 7px 19px rgba(0, 0, 0, 0.1);
    /* width: 100%; */
}
.navlinks{
    padding: 0px 30px;
    text-decoration: none;
    font-weight: 700;
    color: black;
}
.logibut{
    width:150px;
    height: 45px;
    border-radius: 45px;
    border-style: none;
    background-color: #A41BE4;
    color: white;
    font-weight: 700;
    font-size: 15px;
}
.signu{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color:#FC9F25;
    font-size: 20px;
    color: white;
    border-style: none;
    cursor: pointer;
    font-weight: 700;
    outline: none;
}
.carasol{
    width:80%;
    margin: 20px auto;
    border-radius: 30px;
    text-align: center;
}
.left{
    width: 35%;
    height: 100vh;
    background-color: grey;
}
.logcont{
    display: flex;
    /* height: 100%; */
}
.rig{
    padding-top: 120px;
    width: 420px;
    margin-left: 100px;
    /* height: 600px; */
    /* border-style: solid; */
    /* border-color: black; */
    align-items: center;
}
.righ{
    padding-top: 60px;
    width: 500px;
    margin-left: 100px;
    align-items: center;
}
.or{
    margin: 30px 0px;
    text-align: center;
}
.loglab{
    font-weight: 600;
}
.logpu{
    width: 100%;
    height: 40px;
    border-style: none;
    background-color: #f4f4f4;
    margin-top: 10px;
    border-radius: 6px;
    outline: none;
}
.logput{
    width: 100%;
    height: 200px;
    border-style: none;
    background-color: #f4f4f4;
    margin-top: 10px;
    border-radius: 6px;
    outline: none;
}
.formb{
    margin-top: 40px;
    width:45%;
    height: 40px;
    border-radius: 15px;
    border-style: none;
    background-color: #A41BE4;
    color: white;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}
.head1{
    margin: 0;
    margin-top: 30px;
}
.head2{
    margin-top: 10px;
    font-weight: 300;
}
.lef{
    /* border-color: black;
    border-style: solid; */
    width:60%;
    /* display: inline-block; */
}
.fle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rg{
    width: 180px;
    height: 55px;
    border-radius: 15px;
    border-style: solid;
    font-size: 19px;
    color:#FC7B22;
    font-weight: 600;
    background-color: transparent;
    border-color: #FC7B22;
}
.bott{
    margin: 30px auto;
    width:45%;
    height: 40px;
    border-radius: 15px;
    border-style: none;
    background-color: #A41BE4;
    color: white;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}
.coom{
    height: 100vh;
    width: 370px;
    position: fixed;
    box-shadow: 4px 0px 40px rgba(0, 0, 0, 0.1);
    /* background-color: #f4f4f4; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    margin: 0px auto;
    /* border-style: solid; */
    height: fit-content;
    /* margin-top: 30px; */
    width:140px;
}
.active > li > .icon > .log{
    display:none;
  }
.gg > li > span > .log-active{
    display:none;
  }
  .active > li > span > .log-active{
    display:block;
  }

  .gg > li > span > .log{
    display:block;
  }
  .menu-dropdown{
      border-style: solid;
      border-color: black;
  }
  li > span{
      /* text-decoration: none; */
      display: inline-block;
  }
  .grid-set{
      margin-left: 420px;
      display: flex;
  }
  .leftg{
      margin-top: 100px;
      padding: 30px 20px; 
      width: 42%;
      height: 70vh;
      box-shadow: 1px 1px 14px rgba(247, 141, 29, 0.34);
  }
  .rightg{
      margin-top: 100px;
      padding: 30px 20px;
      margin-left: 40px;
      width: 42%;
      height: 70vh;
      box-shadow: 1px 1px 14px rgba(164, 27, 228, 0.35);
  }
  .him{
      margin-top:-10px;
      font-weight: 300;
      font-size: 12px;

  }
  .card{
      width: calc(100% - 60px);
      height: 210px;
      padding: 30px 20px;
      box-shadow: 0px 6.31102px 28.5969px rgba(0, 0, 0, 0.1);
  }
.card-post{
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    height: 450px;
    padding: 10px 30px;
    box-shadow: 0px 6.31102px 28.5969px rgba(0, 0, 0, 0.1);
}
  .kam{
      margin-top: -15px;
  }







/* .logo{
    display: inline-block;
}
.links{
    display: inline-block;
} */
