.navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 7px 19px rgba(0, 0, 0, 0.1);
    /* width: 100%; */
}
.navlinks{
    padding: 0px 30px;
    text-decoration: none;
    font-weight: 700;
    color: black;
}
button{
    width:150px;
    height: 45px;
    border-radius: 45px;
    border-style: none;
    background-color: #A41BE4;
    color: white;
    font-weight: 700;
    font-size: 15px;
}
/* .logo{
    display: inline-block;
}
.links{
    display: inline-block;
} */
